{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="col-md-9">
  <div class="row">
    {% for list in dataset %} 
    <div class="col-md-4">
    <div class="card">
      <img src="{{list.image.url}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{list.name}}</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{list.created}}</small>
        <a href="{{list.id}}">ເບິງ</a>
        <p><a href="{% url 'post-edit' list.id %}">ແກ້ໄຂ</a></p>
        
      </div>
    </div>
  </div>
</div>
</div>
{% empty %}
<h3>no picture</h3>
{% endfor %}


</div>


               
{% endblock %}