{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  {% for list in dataset %} 
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col-3">
    <div class="card h-100">
      <img src="{{list.image.url}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{list.name}}</h5>
        <p class="card-text">{{list.content}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{list.created}}</small>
        <a href="{{list.id}}">More</a>
        <p><a href="{% url 'post-edit' list.id %}">Edit</a></p>
        
      </div>
    </div>
  </div>
</div>


{% endfor %}

</div>
               
{% endblock %}