{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{{data.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{data.name}}</h5>
          <p class="card-text">{{data.content}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{data.created}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}